<a href="https://colab.research.google.com/github/bp20016/a/blob/main/_1_2_DS_sample_code_%E5%AE%9F%E6%BC%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ウオーミングアップ

In [ ]:
1+1

2

### 変数：小数型、整数型、文字型、辞書型、型の確認、型の変換

In [ ]:
A = 118.0

In [ ]:
A

118.0

In [ ]:
A+100

218.0

In [ ]:
B = A+100

In [ ]:
B

218.0

In [ ]:
A+=20

In [ ]:
A

138.0

In [ ]:
type(A)

float

In [ ]:
NAKAI=25
type(NAKAI)

int

In [ ]:
f='nakai'
type(f)

str

In [ ]:
f[2]

'k'

In [ ]:
f[0:2]

'na'

In [ ]:
A

138.0

In [ ]:
int(A)

138

In [ ]:
float(A)

138.0

In [ ]:
str(A)

'138.0'

In [ ]:
nakai_zisyo={'cat': 4, 'dog': 8, 'elephant': 'いない'}

In [ ]:
type(nakai_zisyo)

dict

In [ ]:
nakai_zisyo['dog']

8

In [ ]:
nakai_zisyo['elephant']

'いない'

In [ ]:
nakai_zisyo['cat']=100

In [ ]:
nakai_zisyo['cat']

100

### 変数：リスト、アレー（numpy)、データフレーム(pandas)

In [ ]:
L = [1, 2.3, 'nakai', 21, 'shibaura']
type(L)

list

In [ ]:
L[1]

2.3

In [ ]:
L[2]

'nakai'

In [ ]:
list_matrix = [[1, 2, 3], [2, 2,  5], [3, 4, 7]]

In [ ]:
list_matrix

[[1, 2, 3], [2, 2, 5], [3, 4, 7]]

In [ ]:
list_matrix[1]

[2, 2, 5]

In [ ]:
list_matrix[1][2]

5

In [ ]:
import numpy as np
np_matrix = np.array(list_matrix)

In [ ]:
np_matrix

array([[1, 2, 3],
       [2, 2, 5],
       [3, 4, 7]])

In [ ]:
np_matrix.tolist()

[[1, 2, 3], [2, 2, 5], [3, 4, 7]]

In [ ]:
import pandas as pd
df_matrix = pd.DataFrame(list_matrix)

In [ ]:
df_matrix

   0  1  2
0  1  2  3
1  2  2  5
2  3  4  7

In [ ]:
df_matrix.values

array([[1, 2, 3],
       [2, 2, 5],
       [3, 4, 7]])

In [ ]:
df_matrix.values.tolist()

[[1, 2, 3], [2, 2, 5], [3, 4, 7]]

In [ ]:
import pandas as pd
df = pd.DataFrame({
    '名前' :['田中', '山田', '高橋'],
    '役割' : ['営業部長', '広報部', '技術責任者'],
    '身長' : [178, 173, 169]
    })

In [ ]:
df

   名前     役割   身長
0  田中   営業部長  178
1  山田    広報部  173
2  高橋  技術責任者  169

In [ ]:
df['身長']

0    178
1    173
2    169
Name: 身長, dtype: int64

In [ ]:
df[0:2]

   名前    役割   身長
0  田中  営業部長  178
1  山田   広報部  173

### プログラミング：関数(def)、条件文(if文)、繰り返し文(for文)、ファイルの読み込み・書き出し

In [ ]:
h = 170
w = 90
h0 = (h/100)**2
w/h0

31.14186851211073

In [ ]:
def bmi(height, weight):
  height2 = (height/100)**2
  bmi0 = weight/height2
  return bmi0

In [ ]:
bmi(170, 90)

31.14186851211073

In [ ]:
h = 170
w = 90
bmi(h, w)

31.14186851211073

In [ ]:
a = 10
b = 2
if a > b:
  print('大きい数字=', a)
else:
  print('大きい数字=', b)

大きい数字= 10

In [ ]:
'sh' in 'shibaura'

True

In [ ]:
if 'rt' in 'shibaura':
  print('含まれている')
else:
  print('含まれてない')

含まれてない

In [ ]:
nakai = ['中井', 65, '神戸']
for w in nakai:
  print(w)

中井
65
神戸

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
  j = (i + 1)*2
  print(j)

2
4
6
8
10
12
14
16
18
20

In [ ]:
nakai_zisyo

{'cat': 100, 'dog': 8, 'elephant': 'いない'}

In [ ]:
for key in nakai_zisyo:
  print(key)

cat
dog
elephant

In [ ]:
for key in nakai_zisyo:
  print(nakai_zisyo[key])

100
8
いない

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DS応用_2022/野球選手_重回帰.csv', encoding='shift-jis')

In [ ]:
df

    名前   球速  遠投  懸垂    握力
0    A  120  62  71  80.0
1    B  130  90  32  79.0
2    C   95  53  20  32.0
3    D  141  88  28  68.0
4    E  128  79  45  50.0
5    F  118  88  30  70.0
6    G  108  83  22   NaN
7    H   87  53  40  38.0
8    I  120  92  15  62.0
9    J  110  70  10  43.0
10   K  100  70  10  78.0
11  L   127  82  31  76.0
12   M  112  87  13  47.0
13   N  130  63  18  65.0
14   O   99  79  15  72.0
15   P  102  69  22  50.0
16   Q  130  77  28  48.0
17   R  110  78  17  39.0
18   S  120  68  33  43.0
19   T  128  81  42  52.0

In [ ]:
df0 = df

In [ ]:
df0.head(3)

  名前   球速  遠投  懸垂    握力
0  A  120  62  71  80.0
1  B  130  90  32  79.0
2  C   95  53  20  32.0

In [ ]:
df0.to_csv('/content/drive/MyDrive/Colab Notebooks/DS応用_2022/野球選手_重回帰_保存.csv', encoding='shift-jis')